<div class="result-content">
	<h2><%= link_to results[:title].truncate(20), product_path(results[:product_id]), class: "result-title" %></h2>
	<%= link_to product_path(results[:product_id]) do %>
		<% if selected_item.jacket_image.attached? %>
      <%= image_tag selected_item.jacket_image, class:"jacket-image", fallback:"img/no_image.png", :size => '400x400' %>
    <% else %>
      <%= image_tag 'img/no_image.png', class:"jacket-image", :size => '400x400' %>
    <% end %>
	<% end %>
	<div class="shaka_detail_link"><%= link_to "item detail", product_path(results[:product_id]), class: "result-title" %></div>
</div>