<body class="cart_show_body">
<div class="haikei">
<div class="admin">
    <section class="body">
        <div class="container">
            <div class="row">
                <h1 class="adminheader">管理者メニュー</h1>
                <div class="adminmenu">
                    <%= link_to "ユーザー管理",users_path %>
                    <p>ユーザー情報の閲覧・編集・削除するページ</p>
                    <%= link_to "商品管理", products_path %>
                    <p>商品情報の閲覧・編集・削除するページ</p>
                    <%= link_to "楽曲管理", songs_path %>
                    <p>楽曲情報の閲覧・編集・削除するページ</p>
                    <%= link_to "アーティスト管理", artists_path %>
                    <p>アーティスト情報の閲覧・編集・削除するページ</p>
                    <%= link_to "レーベル管理", labels_path %>
                    <p>レーベル情報の閲覧・編集・削除するページ</p>
                    <%= link_to "受注管理", orders_path %>
                    <p>受注情報の閲覧・編集・削除するページ</p>
                </div>
            </div>
        </div>
    </section>
</div>
</div>
</body>
