<section class="body">
	<div container>
		<div class="row">
			<div class="col-xs-offset-4">
				<h1>Let's <strong>ShakaShaka</strong> !</h1>
				<h4>ジャンルを選択してください</h4>
			</div>
			<div class="col-xs-3 col-xs-offset-2">
				<%= image_tag 'img/no_image.png', size: "200x200", id: "rock" %>
				<h3 class="rock">R O C K</h3>
			</div>
			<div class="col-xs-3">
				<%= image_tag 'img/no_image.png', size: "200x200", id: "pop" %>
				<h3 class="pop">P O P</h3>
			</div>
			<div class="col-xs-3">
				<%= image_tag 'img/no_image.png', size: "200x200", id: "punk" %>
				<h3 class="punk">P U N K</h3>
			</div>
		</div>
	</div>
</section>

<%# rails側でジャンルに紐づくプロダクトをランダムに１つ取得する %>
<div id="overlay">
	<div id="result">
		<h2>discover new music</h2>
		<%= attachment_image_tag @random_product, :image, :fill, 200, 200, format: 'jpeg', class: "jacket-iamge", fallback: 'img/no_image.png', size: "200x200" %>
		<%= link_to @random_product.product_title, @random_product %>
		<button id="close">X</button>
	</div>
</div>

<script>
	<%# modal 発火後モーダル表示させる処理のみ %>
	$(function(){
		$('#rock,#pop,#punk').on('click',function(){
			$('#overlay,#result').fadeIn();
		});
		$('#close,#overlay').on('click', function(){
			$('#overlay,#result').fadeOut();
		});
		$('#result').on('click',function(e){
			e.stopPropagation();
		});
	});
</script>