<section class="body">
	<div class="container">
		<div class="row">
			<div class="headline">
				<h1>Let's <strong>ShakaShaka !</strong></h1>
				<h4>ジャンルを選んでください</h4>
			</div>
			<div class="col-xs-3 col-xs-offset-1">
				<div class="request_ajax_shaka">
				  <%= link_to ajax_shakashaka_path(:genre_id => 1 ),  method: :post , :remote => true  do %>
					<%= image_tag 'img/Rock.jpg', size: "300x300" %>
					<h3 class="genre-select"><strong>ROCK</strong></h3>
				  <% end %>
				</div>
			</div>
			<div class="col-xs-3">
				<div class="request_ajax_shaka">
				  <%= link_to ajax_shakashaka_path(:genre_id => 2 ),  method: :post , :remote => true  do %>
					<%= image_tag 'img/Pop.png', size: "300x300" %>
					<h3 class="genre-select"><strong>POP</strong></h3>
				  <% end %>
				</div>
			</div>
			<div class="col-xs-3">
				<div class="request_ajax_shaka">
				  <%= link_to ajax_shakashaka_path(:genre_id => 3 ),  method: :post , :remote => true  do %>
					<%= image_tag 'img/Punk.jpg', size: "300x300" %>
					<h3 class="genre-select"><strong>PUNK</strong></h3>
				  <% end %>
				</div>
			</div>
		</div>
	</div>
</section>

<div id="overlay">
	<div id="shaka-result">
		<h2>discover new music</h2>
		  <div id="shaka-content"></div>
		<button id="close-result">x</button>
	</div>
</div>

<script>

$(function(){
	$('#close-result,#overlay').on('click', function(){
		$('#overlay,#shaka-result').fadeOut();
	});
	$('#shaka-result').on('click', function(e){
		e.stopPropagation();
	});

  $('.request_ajax_shaka').on('ajax:complete', function(event) {
    var response;
    response = event.detail[0].response;
    $('#shaka-content').html(response);
    $('#overlay,#shaka-result').fadeIn();
  });
});
</script>