<section class="body toppage">
	<div class="container">
		<div class="row">
			<div class="headline col-xs-12">
				<h1>Let's <strong>S h a k a S h <span class="shake">a</span> k a !</strong></h1>
			</div>
			<div class="explanation col-xs-12">
				<h4>ジャンルを選んでみてください<br/>あなたにCDを１つピックアップしますよ</h4>
			</div>
			<div>
				<div class="col-xs-4">
					<div class="request_ajax_shaka">
					  <%= link_to ajax_shakashaka_path(:genre_id => 1 ), method: :post , :remote => true do %>
						<%= image_tag 'img/Rock.jpg', size: "300x300" %>
						<h3 class="genre-select rock"><strong>ROCK</strong></h3>
					  <% end %>
					</div>
				</div>
				<div class="col-xs-4">
					<div class="request_ajax_shaka">
					  <%= link_to ajax_shakashaka_path(:genre_id => 2 ), method: :post , :remote => true do %>
						<%= image_tag 'img/Pop.png', size: "300x300" %>
						<h3 class="genre-select pop"><strong>P O P</strong></h3>
					  <% end %>
					</div>
				</div>
				<div class="col-xs-4">
					<div class="request_ajax_shaka">
					  <%= link_to ajax_shakashaka_path(:genre_id => 3 ), method: :post , :remote => true do %>
						<%= image_tag 'img/Punk.jpg', size: "300x300" %>
						<h3 class="genre-select punk"><strong>P U N K</strong></h3>
					  <% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<div id="overlay">
	<div id="shaka-result">
		<h2 class="shaka-headline">was new Music found?</h2>
		  <div id="shaka-content"></div>
		<button id="close-result">x</button>
	</div>
</div>

<script>
$(function(){
	$('#close-result,#overlay').on('click', function(){
		$('#overlay,#shaka-result').fadeOut();
	});
	$('#shaka-result').on('click', function(e){
		e.stopPropagation();
	});

  $('.request_ajax_shaka').on('ajax:complete', function(event) {
    var response;
    response = event.detail[0].response;
    $('#shaka-content').html(response);
    $('#overlay,#shaka-result').fadeIn();
  });
});
</script>