<section class="body toppage">
	<div class="container">
		<div class="row">
			<div class="headline col-xs-12">
				<h1>Let's <strong>S h a k a S h <span class="shake">a</span> k a !</strong></h1>
			</div>
			<div class="top-explanation col-xs-12">
				<p>ジャンルを選んでみてください<br/>あなたにCDを１つピックアップしますよ</p>
			</div>
			<div>
				<div class="col-xs-4">
					<div class="request_ajax_shaka">
					  <%= link_to ajax_shakashaka_path(:genre_id => 1 ), method: :post , :remote => true do %>
						<%= image_tag 'img/Rock.jpg', size: "300x300", href: "#modal-01", class: "open-01" %>
						<a class="genre-select rock open-01" href="#modal-01"><strong>R O C K</strong></a>
					  <% end %>
					</div>
				</div>
				<div class="col-xs-4">
					<div class="request_ajax_shaka">
					  <%= link_to ajax_shakashaka_path(:genre_id => 2 ), method: :post , :remote => true do %>
						<%= image_tag 'img/Pop.png', size: "300x300", href: "#modal-01", class: "open-01" %>
						<h3 class="genre-select pop open-01" href="#modal-01"><strong>P O P</strong></h3>
					  <% end %>
					</div>
				</div>
				<div class="col-xs-4">
					<div class="request_ajax_shaka">
					  <%= link_to ajax_shakashaka_path(:genre_id => 3 ), method: :post , :remote => true do %>
						<%= image_tag 'img/Punk.jpg', size: "300x300", href: "#modal-01", class: "open-01" %>
						<h3 class="genre-select punk open-01" href="#modal-01"><strong>P U N K</strong></h3>
					  <% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

	<div id="modal-01">
		<h2 class="shaka-headline"><strong>was new Music found?</strong></h2>
		  <div id="shaka-content" class="col-xs-12"></div>
		<div class="close-modal-01 col-xs-offset-9"><strong>close</strong></div>
	</div>


<script>

$(function(){
  $('.request_ajax_shaka').on('ajax:complete', function(event) {
    var response;
    response = event.detail[0].response;
    $('#shaka-content').html(response);
  });
  $(function(){
	$(".open-01").animatedModal({
		modalTarget:'modal-01',
		animatedIn: 'wobble',
		animatedOut: 'zoomOut',
		animationDuration: '1.0s',
		color: 'rgb(220, 255, 231)',
		overflow: 'auto'	// モーダルウィンドウのエリア外の挙動
	});
  });
});
</script>