<div class="container">
  <div class="row">
    <div class="top-message">
      <h2>アーティスト編集</h2>
        <% if @artist.errors.any? %>
        <div id="error_explanation">
          <h2><%= @artist.errors.count %>件のエラーがあります。</h2>
          <ul>
            <% @artist.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
        <% end %>
    </div>
  </div>
  <div class ="row">
    <div class="col-xs-1"></div>
      <div class="col-xs-10">
        <%= form_for(@artist) do |f| %>
          <div class="form-group center-block text-center">
            <strong><%= f.label :アーティスト名 %></strong>
            <P><%= f.text_field :artist_name, :placeholder=>"アーティスト名", class: "text_box" %></p>
              <div class="col-xs-2"></div>
              <div class="col-xs-8">
              <%= link_to "戻る", artists_path, class:"btn btn-primary"%>
              <%= f.submit "更新", class:"btn btn-primary" %>
              </div>
              <div class="col-xs-2"></div>
        <% end %>
          </div>
      </div>
      <div class="col-xs-1"></div>
  </div>
</div>
