
<div class = "container">
    <p class="text">アーティスト名　編集</p>
      <div class="row">
        <div class = "main">
          <%= form_for(@artist) do |f| %>
          <p class = "text1">
            <span class = "name"><%= f.label :アーティスト名 %></span>
            <%= f.text_field :artist_name %>
          </p>
        <div class = "main-bottom">
          <span class = "botan">
            <%= link_to "戻る", artists_path, class:"btn btn-primary", :style=>"margin-bottom: -12px;height:36px;width:96px;"%>
          </span>
            <%= f.submit "更新", class:"btn btn-primary", :style=>"height:36px;width:96px;" %>
          </div>
            <% end %>
        </div>
      </div>
  </div>

