<div class = "container">
  <div class="row">
    <div class ="col-xs-2"></div>
    <div class ="col-xs-10">
      <h2>
        アーティスト管理
        <%= link_to "新規登録", new_artist_path, class:"btn btn-primary ", id:"new_product_button"%>
      </h2>
        <div class="search-bar">
        <% provide(:artist_name, 'All artists') %>
          <%= search_form_for @search  do |f| %>
            <%= f.text_field :artist_name_cont , class: "form-control ", :placeholder=>"アーティスト名" %>
              <%= button_tag( class: "btn btn-default btn-sm") do %>
                <%= content_tag :span, "", class: "fa fa-search" %>
              <% end %>
          <% end %>
        </div>
    </div>
  </div>
    <div class = "row">
      <div class="col-xs-1"></div>
      <div class="col-xs-10">
        <div class = "center-block">
  	      <table class = "table">
  	  	    <thead>
  	  	      <tr>
  	  	        <th></th>
  	  	        <th></th>
  	  	        <th>アーティスト名</th>
  	  	        <th></th>
  	            <th></th>
   	            <th></th>
  	  	      </tr>
  	        </thead>
  	  	    <tbody>
  	  	      <% @result.each do |artist| %>
  	  	        <tr>
  	  	          <td></td>
  	  	          <td></td>
  	  	          <td><span><%= artist.artist_name %></span></td>
  	  	          <td></td>
  	  	          <td></td>
  	  	          <td><%=link_to "編集", edit_artist_path(artist.id),class:"btn btn-primary "%></td>
  	  	        </tr>
  	  	      <% end %>
  	  	    </tbody>
          </table>
      </div>
          <div class = "paginate"><%= paginate @artists %></div>
          <div class="col-xs-1"></div>
    </div>
</div>
