<body>
  <div class = "container">
    <div class="row top">
　    <div class="col-xs-2"><p>レーベル管理</p></div>
        <% provide(:label_name, 'All labels') %>
          <%= search_form_for @search  do |f| %>
            <div class="form-group col-xs-3">
              <%= f.text_field :label_name_cont, class: "form-control" %>
            </div>
              <div class="actions col-xs-3"><%= f.submit "", :class=>"glyphicon glyphicon-zoom-in"%></div>
          <% end %>
          <a href="/labels/new" class="btn btn-default btn-sm col-xs-2" role="button">新規登録</a>
    </div>
    <div class = "border-top"></div>
      <div class = "row">
        <div class="col-xs-1"></div>
          <div class="col-xs-10">
            <div class = "center-block">
              <table class = "table">
              <thead>
                <tr>
                  <th></th>
                  <th></th>
                  <th>レーベル名</th>
                  <th></th>
                  <th></th>
                  <th></th>
                 </tr>
              </thead>
              <tbody>
                <% @result.each do |label| %>
                <tr>
                  <td></td>
                  <td></td>
                  <td><span><%= label.label_name %></span></td>
                  <td></td>
                  <td></td>
                  <td><%=link_to "編集", edit_label_path(label.id),class:"btn btn-default btn-sm "%></td>
                </tr>
                <% end %>
              </tbody>
              </table>
            </div>
           <div class = "paginate"><%= paginate @labels %></div>
          </div>
          <div class="col-xs-1"></div>
      </div>
  </div>
</body