<<<<<<< Updated upstream

<div class = "container">
=======
<div class="container">
>>>>>>> Stashed changes
  <div class="row">
    <div class="top-message">
      <h2>レーベル名新規追加</h2>
        <% if @label.errors.any? %>
        <div id="error_explanation">
          <h2><%= @label.errors.count %>件のエラーがあります。</h2>
          <ul>
            <% @label.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
        <% end %>
    </div>
  </div>
<<<<<<< Updated upstream
    <div class="box"></div>
  <div class="row">
    <div class="col-xs-4"></div>
    <div class="col-xs-4">
      <%= link_to "戻る", labels_path, class:"btn btn-primary", :style=>"margin-bottom: -12px;padding: 7px 33px; margin-right: 67px; "%>
      <%= f.submit "送信ボタン", class:"btn btn-primary", :style=>"height:36px;width:96px; margin-bottom: -12px;" %>
      <% end %>
    </div>
    <div class="col-xs-4"></div>
=======
  <div class ="row">
    <div class="col-xs-1"></div>
      <div class="col-xs-10">
        <%= form_for(@label) do |f| %>
          <div class="form-group center-block text-center">
            <strong><%= f.label :レーベル名 %></strong>
            <P><%= f.text_field :label_name, :placeholder=>"レーベル名", class: "text_box" %></p>
              <div class="col-xs-2"></div>
              <div class="col-xs-8">
              <%= link_to "戻る", labels_path, class:"btn btn-primary"%>
              <%= f.submit "追加", class:"btn btn-primary" %>
              </div>
              <div class="col-xs-2"></div>
        <% end %>
          </div>
      </div>
      <div class="col-xs-1"></div>
>>>>>>> Stashed changes
  </div>
</div>
