<body>
  <div class = "container">
　   <p class="text">レーベル新規登録</p>
      <div class="row">
        <div class = "main">
          <%= form_for(@label) do |f| %>
            <p class = "text1">
              <span class = "name"><%= f.label :レーベル名 %></span>
              <%= f.text_field :label_name %>
            </p>
            <div class = "main-bottom">
                <span class = "button">
                  <%= link_to "戻る", labels_path, class:"btn btn-primary", :style=>"margin-bottom: -12px;padding: 7px 33px;"%>
                </span>
                  <%= f.submit "送信ボタン", class:"btn btn-primary", :style=>"height:36px;width:96px;" %>
            </div>
                <% end %>
        </div>
      </div>
  </div>
</body>

