<h1>ユーザー編集</h1>
<%= @user.user_name%>
<%= @user.user_name_kana%>
<%= @user.postcode%>
<%= @user.address%>
<%= @user.phonenumber%>
<%= link_to "戻る" , user_path(user)%>
<%= link_to "更新", user_path(user)%>