<div class="page-holder">
<h1>ユーザー管理</h1>
<%= search_form_for @search  do |f| %>
  <div class="form-group">
    <%= f.label :name_cont, "Name" %>
    <%= f.text_field :name_cont, class: "form-control" %>
  </div>
  <div class="actions"><%= f.submit "Search" %></div>
  <% end %>
  <% if @result.any? %>
  <%= render @result %>
<% end %>

<% if @result.nil? %>
  <ul class="users">
    <%= render @users %>
  </ul>
<% end %>
<table class="table table-striped">
<tr>
    <th>名前</th>
    <th>メールアドレス</th>
    <th colspan="3"></th>
</tr>
<% @users.each do |user| %>
<tr>
   <td><%= user.name %></td>
   <td><%= user.email %></td>
   <td><%= link_to "詳細", user_path(user)%></td>
 </tr>
<% end %>
</table>
<%= paginate @users %>
</div>

