<div class="container">
  <h3>収録曲新規追加</h3>
  <%= form_for(@song) do |f| %>
    <div class="form-group">
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th>ディスクNo</th>
            <th>曲順</th>
            <th>曲名</th>
            <th>アーティスト</th>
            <th>収録CD</th>
          </tr>
        </thead>
        <tbody>
            <tr>
              <td><%= f.text_field :disk_number %></td>
              <td><%= f.text_field :track_order %>
              <td><%= f.text_field :song_title %></td>
              <td><%= f.collection_select :artist_id, Artist.all, :id, :artist_name %></td>
              <td><%= f.collection_select :product_id, Product.all, :id, :product_title %></td>
            </tr>
        </tbody>
      </table>
      <%= f.submit "更新", class:"btn btn-primary" %>
      <%= link_to "戻る", songs_path, class:"btn btn-primary" %>
    </div>
  <% end %>
</div>