<div class="container">
  <h3>収録曲新規追加</h3>
  <% if @song.errors.any? %>
    <div class="error_explanation">
      <ul>
        <% @song.errors.full_messages.each do |message| %>
         <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form_for(@song) do |f| %>
    <div class="form-group">
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th>ディスクNo</th>
            <th>曲順</th>
            <th>曲名</th>
            <th>アーティスト</th>
            <th>収録CD</th>
          </tr>
        </thead>
        <tbody>
            <tr>
              <td><%= f.text_field :disk_number %></td>
              <td><%= f.text_field :track_order %>
              <td><%= f.text_field :song_title %></td>
              <td><%= f.select :artist_id, options_from_collection_for_select(Artist.all, :id, :artist_name), {}, { class: 'searchable'} %></td>
              <td><%= f.select :product_id, options_from_collection_for_select(Product.all, :id, :product_title), {}, { class: 'searchable'} %></td>
            </tr>
        </tbody>
      </table>
      <%= f.submit "追加", class:"btn btn-primary" %>
      <%= link_to "戻る", songs_path, class:"btn btn-primary" %>
    </div>
  <% end %>
</div>

<script>
  $(function() {
    return $(".searchable").select2({
      width: 200,
      allowClear: true
    });
  });
</script>