<body class="ordersbody">
	<div class="container">
		<div class="row">
			<div class="order-containers">
			  <div class="order-container">
				<h2>注文の詳細</h2>
				<h5>ご注文ユーザー名：<% if @user != nil %><%= @user.user_name %><% else %>退会済みユーザー<% end %></h5>
			  </div>
			  <div class="order-container">
			  	<div class="order-container-content">
			  		<h4>注文日</h4>
			  		<p><%= @order.created_at.strftime('%Y/%m/%d %H:%M') %></p>
			  	</div>
			  	<div class="order-container-content">
			  		<h4>ご請求金額</h4>
			  		<p>¥<%= @order.total_price %></p>
			  	</div>
			  	<div class="order-container-content">
			  		<h4>お届け先</h4>
			  		<ul>
			  			<li><%= @order.destination_name %></li>
			  			<li><%= @order.destination_postcode %></li>
			  			<li><%= @order.destination_address %></li>
			  		</ul>
			  	</div>
			  </div>

			  <div class="order-container">
				<div class="order-container">
					<h5 class="order-container-status">配送ステータス：
						<%= form_for(@order) do |f| %>
							<%= f.select :status, [["受付済み", 10], ["発送準備中", 20], ["発送済み", 30], ["確認中", 90]] ,class:"form-control" %>
         					<%= f.submit "更新", class:"btn btn-primary" %>
						<% end %>
					</h5>
					<h5>注文商品詳細</h5>
					<p class="order-container-title"><%= link_to product_path(@order_item) do %><%= @order_item.product_title %><% end %></p>
					<div class="order-container-product">
						<%= link_to product_path(@order_item) do %>
							<%= attachment_image_tag @order_item, :image ,:fill, 200, 200, format: 'jpeg', class: "jacket-image", fallback: "img/no_image.png", :size => "200x200" %>
						<% end %>
					</div>
				</div>
				<div class="order-container-product">
					<ul>
						<li>単価：　　¥<%= @order_item.product_price %></li>
						<li>数量：　　<%= @order.quantity %>枚</li>
						<li>合計金額：¥<%= @order.total_price %></li>
					</ul>
				</div>
				<div class="order-container-button">
					<%= link_to "戻る", order_path(@order), class: "btn btn-primary" %>
				</div>
			  </div>
			</div>
		</div>
	</div>
</body>