<section class="body">
	<div class="container">
		<div class="row">
			<div class="col">
				<h2>受注編集</h2>
			</div>
			<div class="col">
				<h3>受注日</h3>
				<%= @order.created_at.strftime('%Y/%m/%d') %>
			</div>
			<div class="col">
				<h3>ユーザー名</h3>
				<%= @user.name %>
			</div>
			<div class="col">
				<h3>受注商品</h3>
				<%= @product_title %>
				<%= @quantity %>
				<%= @product_price %>
			</div>
			<div class="col">
				<h3>ステータス</h3>
				<%= @status %>
			</div>
			<div class="col">
				<h3>送付先</h3>
				<%= @destination_address %>
			</div>
			<div class="col">
				<h3>総計</h3>
				<%= @total_price %>
			</div>
			<div>
				<%= link_to "戻る", order_path(@order.id) %>
				<%= f.submit "更新", class: "btn" %>
			</div>
		</div>
	</div>
</section>