<section class="body">
	<div class="container">
		<div class="row">
			<div class="col">
				<h2>受注詳細</h2>
			</div>
			<div class="col">
				<h3>受注日</h3>
				<%= @order.created_at.strftime('%Y/%m/%d') %>
			</div>
			<div class="col">
				<h3>ユーザー名</h3>
				<%= @user.user_name %>
			</div>
			<div class="col">
				<h3>受注商品</h3>
				<%= @order_item.product_title %>
				<%= @quantity %>
				¥<%= @order_item.product_price %>
			</div>
			<div class="col">
				<h3>ステータス</h3>
				<% if @order.status.to_i == 10 %>
					受付済み
				<% elsif @order.status.to_i == 20 %>
					発送準備中
				<% elsif @order.status.to_i == 30 %>
					発送済み
				<% else %>
					確認中
				<% end %>
			</div>
			<div class="col">
				<h3>送付先</h3>
				<%= @order.destination_address %>
			</div>
			<div class="col">
				<h3>総計</h3>
				¥<%= @order.total_price %>
			</div>
			<div>
				<% if current_user.admin? %>
					<%= link_to "戻る", orders_path, class: "btn btn-primary" %>
				<% else %>
					<%= link_to "戻る", user_path(current_user), class: "btn btn-primary" %>
				<% end %>
				<%= link_to "編集", edit_order_path(@order), class: "btn btn-primary" if current_user.admin? %>
			</div>
		</div>
	</div>
</section>
