<h1>注文確認</h1>
<p>小計：¥<%= @sum_price %></p>
<p>送料：¥500</p>
<p>ご請求額：¥<%= @sum_price.to_i + 500 %></p>

<%= link_to "カートに戻る", cart_path(current_user.cart), class:"btn btn-default" %>
<%= link_to "注文を確定する", orders_path, method: :post, cart_id:current_user.cart %>

<p>送付先住所<%= current_user.address %></p>
<p class="destination-select">"送付先を選択"</p>

<%
=begin%>
  jqueryでやるよ！モーダル表示して送付先IDをGET、住所の表記を変更して、送付先IDをポストできるようにする
<%
=end%>


<div class="modal">
  <p>送付先を選択</p>
  ラジオボタンで選ばせるよ！
</div>


<%
=begin%>
 postのthanks注文レコード追加するやつ入れないとダメ？order.create? 引数どうしよ
<%
=end%>