<div class="container">
  <div class="row">
    <div class="order_price">
      <h1>注文確認</h1>
      <div class>
      <h3>ご請求額：<span class="total-price">¥<%= @sum_price.to_i %></span></h3>
      <%= form_for(@order) do |f| %>
        <%= link_to "カートに戻る", cart_path(@cart), class:"btn btn-default" %>
        <%= f.submit "注文を確定する", class:"btn btn-danger order-button" %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="destination">
      <h4 id="updated_by_ajax">送付先：<%= @user.address %></h4> 
      <p class="btn btn-primary" id="dest-select">送付先を選択</p>
    </div>
  </div>

  <div class="row">
    <div class="purchase-products">
      <h2>ご注文内容</h2>
      <% @cart_products.each do |cart_product| %>
        <div class="row purchase-product">
          <div class="col-xs-3">
            <%= attachment_image_tag cart_product.product, :image, :fill, 200, 200, format: 'jpeg', class:"jacket-image", fallback:"img/no_image.png", :size => '200x200' %>
          </div>
          <div class="col-xs-7 product-detail">
            <h4>
              <strong><%= link_to cart_product.product.product_title, product_path(cart_product.product) %></strong>
              <% artist_ary = cart_product.product.artists.uniq %>
              <% artist_ary.each do |artist| %>
                <%= artist.artist_name %>
              <% end %>
            </h4>
            <p><%= cart_product.product.genre.genre_name %></p>
            <p>単価：¥<%= cart_product.product.product_price %></p>
            <p>数量：<%= cart_product.quantity %></p>
            <p>合計：¥<%= cart_product.product.product_price*cart_product.quantity %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>


  <%
=begin%>
  送付先選択用モーダル
<%
=end%>

<div id="overlay">
	<div id="result">
		<h2 id="modal-title">送付先変更</h2>
    <div class="destinations">
      <input type="radio" name="dest_id" value="default" checked="checked">デフォルトの送付先
      <label>
        <div>
          <p>お名前：<%= @user.user_name %></p>
          <p>ご住所：<%= @user.address %></p> 
        </div>
      </label>
    </div>
    <% dest_count = 1 %>
		<% @destinations.each do |destination| %>
      <div class="destinations">
        <input type="radio" name="dest_id" value="<%= destination.id %>">送付先<%= dest_count %>
        <label>
          <div>
            <p>お名前：<%= destination.destination_name %></p>
            <p>ご住所：<%= destination.destination_address %></p>
          </div>
          <div class="request_ajax_update" >
            <%= button_to "この住所に変更",  {:action => "update", :paramss => destination.id }, {:remote => true, :class => "go btn btn-info" } %>
          </div>
        </label>
      </div>
      <% dest_count += 1 %>
    <% end %>
    <%
=begin%>
 <button id="close">キャンセル</button> 
<%
=end%>
    <i class="fa fa-close", id="close"></i>
	</div>
</div>

<script>
	$(function(){
    // モーダル表示用
		$('#dest-select').on('click',function(){
			$('#overlay,#result').fadeIn();
    });
		$('#close').on('click', function(){
			$('#overlay,#result').fadeOut();
    });

    // 確定ボタン
    $('.go').on('click', function(){
      $('#overlay,#result').fadeOut();
      swal("Changed Successfully!", "送付先の変更に成功しました", "success");
    });
	});
</script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
