<h1 class="col-xs-7">ショッピングカート</h1>

<div class="col-xs-3">
  <p>小計：<%= @sum_price %>円</p>
  <%= link_to "買い物に戻る", products_path, class:"btn btn-primary" %>
  <%= link_to "レジに進む", carts_confirm_path, class:"btn btn-primary" %>
</div>

<div class="col-xs-10">
  <% if @cart_products.count == 0 %>
    <p>カートの中身は空です。</p>
  <% else %>
    <% @cart_products.each do |cart_product| %>
      <%= attachment_image_tag cart_product.product, :image, :fill, 120, 120, format: 'jpeg', class:"jacket-image", fallback:"img/no_image.png", :size => '120x120' %>
      <p>
        <%= link_to cart_product.product.product_title, product_path(cart_product.product) %>
        <% artist_ary = cart_product.product.artists.uniq %>
        <% artist_ary.each do |artist| %>
          <%= artist.artist_name %>
        <% end %>
      </p>
      <p><%= cart_product.product.genre.genre_name %></p>
      <p>¥<%= cart_product.product.product_price %></p>

      <%= form_for([@cart, cart_product]) do |f| %>
        <div class="form-group">
          <%= f.label :"数量" %>
          <%= f.select :quantity, [["1", 1], ["2", 2], ["3", 3], ["4", 4], ["5", 5]] ,class:"form-control" %>
          <%= f.submit "更新", class:"btn btn-default" %>
        </div>
      <% end %>

      <%= link_to "削除", cart_cart_product_path(@cart, cart_product), method: :delete, class:"btn btn-default" %>
    <% end %>
  <% end %>
</div>
