<div class="container">

  <p>お問い合わせ</p>
  <div class="top-message"></div>
  <%= form_for(@inquiry) do |f| %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :email %>
      <%= f.text_field :email, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :message %>
      <%= f.text_area :message, class: "form-control" %>
    </div>
    <%= f.submit "確認", class:"btn btn-primary col-xs-12" %>

  <% end %>


</div>