<div class="container">
  
  <%
=begin%>
  サイドバー
<%
=end%>

  <div class="col-xs-2">
    <div class="category-bar">
      <h2>Genre</h2>
      <div class="genre">
        <%= image_tag("img/Rock.jpg", alt:"アイコン", size:'50x50') %><%= link_to "Rock", products_path(1), class:"genre_name" %>
      </div>
      <div class="genre">
        <%= image_tag("img/Pop.png", alt:"アイコン", size:'50x50') %><%= link_to "Pop", products_path(2), class:"genre_name" %>
      </div>
      <div class="genre">
        <%= image_tag("img/Punk.jpg", alt:"アイコン", size:'50x50') %><%= link_to "Punk", products_path(3), class:"genre_name" %>
      </div>
    </div>
  </div>

<%
=begin%>
  商品一覧画面
<%
=end%>
  <div class="col-xs-9">
    <h2>
      Items
      <% if user_signed_in? %>
        <% if current_user.admin? %>
          <%= link_to "新規登録", new_product_path, class: "btn btn-primary", id:"new_product_button" %>
        <% end %>
      <% end %>
    </h2>

    <div class="search-bar">
      <% provide(:product_title, 'All products') %>
        <%= search_form_for @search  do |f| %>
          <%= f.text_field :product_title_cont, placeholder:"商品名で検索" %>
          <%= button_tag( class: "btn btn-default btn-sm") do %>
            <%= content_tag :span, "", class: "fa fa-search" %>
          <% end %>
        <% end %>
    </div>

    <div class="product-list clearfix">
      <div class="products clearfix">
        <% @result.each do |random_product| %>
          <div class="product">
            <%= attachment_image_tag random_product, :image, :fill, 100, 100, format: 'jpeg', class:"jacket-image", fallback:"img/no_image.png", :size => '200x200' %>
            <p>
              <%= link_to random_product.product_title, random_product %>
              <%= "¥"+random_product.product_price.to_s %>
            </p>
          </div>
        <% end %>
      </div>
      <div class="paginate"><%= paginate @random_products %></div>
    </div>
  </div>
</div>