<div class="products-container">
  <div class="col-xs-2">
    <div class="category-bar">
      <h2>Genre</h2>
      <div class="genre">
        <%= link_to products_path(1) do %>
          <%= image_tag("img/Rock.jpg", alt:"アイコン", size:'80x80') %><%= link_to "Rock", products_path(1), class:"genre_name" %>
        <% end %>
      </div>
      <div class="genre">
        <%= link_to products_path(2) do %>
          <%= image_tag("img/Pop.png", alt:"アイコン", size:'80x80') %><%= link_to "Pop", products_path(2), class:"genre_name" %>
        <% end %>
      </div>
      <div class="genre">
        <%= link_to products_path(3) do %>
          <%= image_tag("img/Punk.jpg", alt:"アイコン", size:'80x80') %><%= link_to "Punk", products_path(3), class:"genre_name" %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-xs-10">
    <h2>
      Items
      <% if user_signed_in? %>
        <% if current_user.admin? %>
          <%= link_to "商品新規登録", new_product_path, class: "btn btn-success", id:"new_product_button" %>
        <% end %>
      <% end %>
    </h2>

    <div class="search-bar">
      <% provide(:product_title, 'All products') %>
        <%= search_form_for @search  do |f| %>
          <%= f.text_field :product_title_cont, placeholder:"商品名で検索" %>
          <%= button_tag( class: "btn btn-default btn-sm") do %>
            <%= content_tag :span, "", class: "fa fa-search" %>
          <% end %>
        <% end %>
    </div>

    <div class="product-list clearfix">
      <div class="products clearfix">
        <% @result.each do |random_product| %>
          <div class="product">
            <%= link_to random_product do %>
              <div class="index-jacket">
                <% if random_product.jacket_image.attached? %>
                  <%= image_tag random_product.jacket_image, class:"jacket-image", fallback:"img/no_image.png", :size => '280x280' %>
                <% else %>
                  <%= image_tag 'img/no_image.png', class:"jacket-image", :size => '280x280' %>
                <% end %>
              </div>
              <br>
              <div class="product-box">
                <p><%= random_product.product_title.truncate(15) %><%= "  ¥" + random_product.product_price.to_s %></p>
                <% if random_product.artists.count > 0  %>
                  <% artist_ary = random_product.artists.uniq %>
                  <% artist_names = [] %>
                  <% artist_ary.each do |artist| %>
                    <% artist_names << artist.artist_name %>
                  <% end %>
                  <%= truncate(artist_names.join(", "), length: 20, omission: "…他") %>
                <% else %>
                  no artist
                <% end %>
                <div class="cart-icon">
                  <% if user_signed_in? %>
                    <% unless current_user.admin? %>
                      <%= form_for([@cart, @cart_product]) do |f| %>
                        <%= f.hidden_field :product_id, value: random_product.id %>
                        <%= f.hidden_field :quantity, value: 1 %>
                        <%= button_tag type: "submit", class: "btn btn-success" do %>
                          <i class="fa fa-cart-plus"></i>
                        <% end %>
                      <% end %>
                    <% end %>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="paginate"><%= paginate @random_products %></div>
    </div>
  </div>
</div>