<div class="container">
  <h3>商品新規追加</h3>
  <%= form_for(@product) do |f| %>
    <div class="form-group">
      <%= f.label :product_title %>
      <%= f.text_field :product_title, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :product_price %>
      <%= f.text_field :product_price, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :label %>
      <%= f.collection_select :label_id, Label.all, :id, :label_name %>
    </div>

    <div class="form-group">
      <%= f.label :genre %>
      <%= f.collection_select :genre_id, Genre.all, :id, :genre_name %>
    </div>

    <div class="form-group">
      <%= f.label :explanation %>
      <%= f.text_area :explanation, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :image %>
      <%= f.attachment_field :image, placeholder:"ファイルを選択", class:"product_image" %> 
    </div>

    <div class="form-group">
      <%= f.label :stock %>
      <%= f.text_field :stock %>
    </div>

    <%= link_to "戻る", products_path, class:"btn btn-primary" %>
    <%= f.submit "追加", class:"btn btn-primary" %>
  <% end %>

  <h3>収録曲新規追加</h3>
  <%= form_for(@song) do |f| %>
    <div class="form-group">
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th>ディスクNo</th>
            <th>曲順</th>
            <th>曲名</th>
            <th>アーティスト</th>
            <th>収録CD</th>
          </tr>
        </thead>
        <tbody>
            <tr>
              <td><%= f.text_field :disk_number %></td>
              <td><%= f.text_field :track_order %>
              <td><%= f.text_field :song_title %></td>
              <td><%= f.collection_select :artist_id, Artist.all, :id, :artist_name %></td>
              <td><%= f.collection_select :product_id, Product.all, :id, :product_title %></td>
            </tr>
        </tbody>
      </table>
      <%= f.submit "追加", class:"btn btn-primary" %>
      <%= link_to "戻る", products_path, class:"btn btn-primary" %>
    </div>
  <% end %>


</div>