<div class="container">
  <div class="row">
    <div id="item-detail-top">
      <h2>商品詳細</h2>
    </div>
    <div class="product-detail-info">
      <% if @product.jacket_image.attached? %>
        <%= image_tag @product.jacket_image, class:"detail-jacket-image", fallback:"img/no_image.png", :size => '430x430' %>
      <% else %>
        <%= image_tag 'img/no_image.png', class:"detail-jacket-image", :size => '430x430' %>
      <% end %>
    </div>
    <div class="product-detail-info">
      <div class="product-information">
        <div class="item-details">
          <div class="information">
            <ul>
              <li>
              <h2><%= @product.product_title %></h2>
              </li>
              <li>
                <strong>
                  <h4>
                  <% if @product.artists.count > 0 %>
                    <% artist_ary = @product.artists.uniq %>
                    <% artist_names = [] %>
                    <% artist_ary.each do |artist| %>
                      <% artist_names << artist.artist_name %>
                    <% end %>
                    <%= truncate(artist_names.join(", "), length: 36, omission: "…他") %>
                  <% else %>
                    no artist
                  <% end %>
                  </h4>
                </strong>
              </li>
            </ul>
            <div class="detail-information">
              <table class="table table-bordered">
                <tbody>
                  <tr>
                    <th class="">ジャンル</th>
                    <td><h4><%= @product.genre.genre_name %></h4></td>
                  </tr>
                  <tr>
                    <th class="">商品価格</th>
                    <td><h4>¥<%= @product.product_price %></h4></td>
                  </tr>
                  <tr>
                    <th class="">レーベル</th>
                    <td><h4><%= @product.label.label_name %></h4></td>
                  </tr>
                </tbody>
              </table>
              <div id="item-detail-exp">
                <h4>商品紹介</h4>
                <p><%= @product.explanation %></p>
              </div>
            </div>
          </div>
          <h4 class="stock-status">
            <% if @product.stock > 3 %>
              <strong>在庫あり</strong>
            <% elsif @product.stock > 0 %>
              残り<%= @product.stock %>点
            <% else %>
              <strong>在庫なし</strong>
            <% end %>
          </h4>
        </div>

        <div class="link-menu" %>
          <% if user_signed_in? %>
            <% if current_user.admin? %>
            <% else %>
              <div class="add_item_form">
                <% if @product.stock > 0 %>
                  <%= form_for([@cart, @cart_product]) do |f| %>
                    <%= f.hidden_field :product_id, value: @product.id %>
                    <%= f.label :quantity, "枚数" %>
                    <%= f.select :quantity, [["1", 1], ["2", 2], ["3", 3], ["4", 4], ["5", 5]] ,class:"form-control" %>
                    <%= f.submit "カートに追加", class:"btn btn-primary" %>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          <% end %>

          <div class="link_buttons">
            <%= link_to "戻る", products_path, class:"btn btn-default" %>
            <% if user_signed_in? %>
              <% if current_user.admin? %>
                <%= link_to "編集", edit_product_path(@product), class:"btn btn-info" %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="songs">
      <h2><strong>収録曲</strong></h2>
      <table class="table table-hover">
        <tbody>
          <% if @songs.count > 0 %>
              <% disk_count = 1 %>
              <% @disked_songs.each do |one_disk_songs| %>
                <tr>
                  <td class=""><h4>ディスク<%= disk_count %></h4></td>
                  <td class=""></td>
                </tr>
                <% one_disk_songs.each do |song| %>
                  <p class="song-list">
                    <tr>
                      <td><h4><%= song.track_order %>.<%= song.song_title %></h4></td>
                      <td><h4><%= song.artist.artist_name %></h4></td>
                    </tr>
                  </p>
                <% end %>
                <% disk_count += 1 %>
              <% end %>
          <% else %>
            <p>登録された曲はありません</p>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>


</div>