<!DOCTYPE html>
<html>
  <head>
    <title>ShakaShaka</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP&amp;subset=japanese" rel="stylesheet">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.0/animate.min.css">
  </head>

  <body>
    <header class="navbar navbar-fixed-top">
      <div class="container">
        <nav class="navbar-nav navbar-right">
          <% if user_signed_in? %>
            <% user_name = current_user.user_name %>
          <% else %>
            <% user_name = "ゲスト" %>
          <% end %>
          <%= "ようこそ、#{user_name}さん" %>
        </nav>
      </div>
      <div class="container">

        <nav class="nav navbar-nav navbar-left">
          <div>
            <%= link_to root_path do %>
              <%= image_tag("img/logo_shakashaka.png", :size => "150x80", :alt => "ロゴ") %>
            <% end %>
          </div>
        </nav>

        <nav>
          <ul class="nav navbar-nav navbar-right">
           <% if user_signed_in?  %>
            <% if current_user.admin?%>
              <li><%= link_to " 管理者トップ", admin_top_path %></li>
              <li><%= link_to " ユーザー管理", users_path %></li>
              <li><%= link_to " 商品管理", products_path %></li>
              <li><%= link_to " 楽曲管理", songs_path %></li>
              <li><%= link_to " アーティスト管理", artists_path %></li>
              <li><%= link_to " レーベル管理", labels_path %></li>
              <li><%= link_to " 受注管理", orders_path %></li>
              <li><%= link_to " ログアウト", destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li>
                <%= link_to products_path do %>
                  <div class="header-item">
                    <span class="header-icon"><i class="fa fa-music"></i></span>
                    <p>商品一覧</p>
                  </div>
                <% end %>
              </li>
              <li>
                <%= link_to cart_path(current_user.cart) do %>
                  <div class="header-item">
                    <span class="header-icon"><i class="fa fa-shopping-cart"></i></span>
                    <p>カート</p>
                  </div>
                <% end %>
              </li>
              <li>
                <%= link_to user_path(current_user.id) do %>
                  <div class="header-item">
                    <span class="header-icon"><i class="fa fa-user"></i></span>
                    <p>マイページ</p>
                  </div>
                <% end %>
              </li>
              <li>
                <%= link_to destroy_user_session_path, method: :delete do %>
                  <div class="header-item">
                    <span class="header-icon"><i class="fa fa-sign-out"></i></span>
                    <p>ログアウト</p>
                  </div>
                <% end %>
              </li>
              <li>
                <%= link_to inquiries_new_path do %>
                  <div class="header-item">
                    <span class="header-icon"><i class="fa fa-envelope-o"></i></span>
                    <p>お問い合わせ</p>
                  </div>
                <% end %>
              </li>
            <% end %>
           <% else %>
            <li>
              <%= link_to products_path do %>
                <div class="header-item">
                  <span class="header-icon"><i class="fa fa-music"></i></span>
                  <p>商品一覧</p>
                </div>
              <% end %>
            </li>
            <li>
              <%= link_to about_path do %>
                <div class="header-item">
                  <span class="header-icon"><i class="fa fa-sticky-note-o"></i></span>
                  <p>About</p>
                </div>
              <% end %>
            </li>
            <li>
              <%= link_to new_user_registration_path do %>
                <div class="header-item">
                  <span class="header-icon"><i class="fa fa-user-plus"></i></span>
                  <p>会員登録</p>
                </div>
              <% end %>
            </li>
            <li>
              <%= link_to new_user_session_path do %>
                <div class="header-item">
                  <span class="header-icon"><i class="fa fa-sign-in"></i></span>
                  <p>ログイン</p>
                </div>
              <% end %>
            </li>
            <li>
              <%= link_to inquiries_new_path do %>
                <div class="header-item">
                  <span class="header-icon"><i class="fa fa-envelope-o"></i></span>
                  <p>お問い合わせ</p>
                </div>
              <% end %>
            </li>
           <% end %>
          </ul>
        </nav>
      </div>
    </header>

    <div class="container">
      <div class="row">
        <div class="flash-messages">
          <% if flash[:notice] %>
           <p class="notice"><%= flash[:notice] %></p>
          <% end %>
          <% if flash[:danger] %>
           <p class="danger"><%= flash[:danger] %></p>
          <% end %>
        </div>
      </div>
    </div>

    <%= yield %>

    <div class="container">
      <div class="row">
        <div class="col-xs-3 col-xs-offset-9">
          <div class="footer pull-right">
            <p>CopyRight HotelSeminal</p>
          </div>
        </div>
      </div>
    </div>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  </body>
</html>
